.portfolio {
    background: #FAFAFA;
    padding: 0 70px 105px;
}

.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    color: #A0A0A0;
    margin: 0 0 50px 0;
}

.portfolio__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__item {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
    position: relative;
}

.portfolio__item:last-child {
    margin: 0;
    border: none;
}

.portfolio__text {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.04em;
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 30px 20px 0;
    text-decoration: none;
    color: #000;
}

.portfolio__icon {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 0;
}

@media screen and (max-width:768px) {
    .portfolio {
        padding: 0 50px 70px;
    }

    .portfolio__text {
        font-size: 28px;
    }
}

@media screen and (max-width:576px) {
    .portfolio__text {
        font-size: 18px;
    }

    .portfolio__icon {
        top: 5px;
        width: 12px;
    }
}

@media screen and (max-width:425px) {
    .portfolio {
        padding: 0 14px 50px;
    }

    .portfolio__title {
        font-size: 14px;
        margin: 0 0 40px 0;
    }

}